<center> <% if user_signed_in? %>
 
<div class="hero-unit">
	<h1> Welcome to Peter's Wonderful App </h1>

</div>

<%else%> 

<div class="hero-unit">
	<h1> Welcome to Peter's Wonderful App </h1>

	<p> To find out more (when I do), sign up below.</p>

	<p> 
		<%=link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>


	</p>



</div>

<%end%>

</center>
