<div class="hero-unit">
	<h1> Welcome to Peter's Wonderful App </h1>

	<p> To find out more (when I do), sign up below.</p>

	<p> 
		<%=link_to "Sign Up Now!", "http://www.onemonthrails.com", class: "btn btn-primary btn-large" %>


	</p>

	<img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-ash4/398876_398130166877027_867390695_n.jpg" class="img-rounded">


</div>

