<div class="hero-unit">
	<h1> Welcome to one month rails </h1>

	<p> You've found the home page somehow. this is surprising because noone is following up progress - no one!  Go to <%=link_to "One Month Rails", "http://onemonthrails.com"%> here</p>

	<p> 
		<%=link_to "Sign Up Now!", "http://www.onemonthrails.com", class: "btn btn-primary btn-large" %>
	</p>
</div>
